<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.68.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc141" version="1.68.0.0" targetFramework="native" />
  <package id="boost_system-vc141" version="1.68.0.0" targetFramework="native" />
  <package id="hdf5-v120-complete" version="1.8.15.2" targetFramework="native" />
  <package id="xtensor" version="0.15.10" targetFramework="native" />
</packages>